*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background: #0D5268;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

/* Logo Victransa */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
}

/* Validation form */
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  height: 260px;
  margin: 0 auto 40px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #073342;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin: 0 0 15px;
}

.form button:hover,.form button:active,.form button:focus {
  background: #0D5972;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}

/* Atention message - invalid bowser*/
.form .invalid {
  display: none;
}

.invalid span {
  color: #BE0000;
  font-size: 20px;
  margin: 0 0 15px;
}

.invalid .message {
  margin: 15px 0;
  color: #444444;
  font-size: 18px;
}

/* Ref andsoft */

.andsoft {
  position: relative;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 15px; 
  z-index: 1;
  background: #FFFFFF;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  
}

.logoAndsoft { 
  height: auto;
  width: 80px;
  right: 0px;
}

@media (max-width: 991px) {
    .logo1 {
      display: none;
    }

    .logo2 {
      height: auto;
      width: 300px;
    }


    .logo {
        margin-bottom: 30px;
    }

    .form {
      margin: 10px;
      height: auto;
    }

    .andsoft {
      margin: 30px 10px;
    }

    body {
      height: 120vh;
    }


}